# Extract - Melbourne House Data

In [1]:
# Imports
import pandas as pd
import numpy as np

In [2]:
# Reading in dataframe from CSV
df = pd.read_csv("Resources/Melbourne_housing_FULL.csv")
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

# EDA AND TRANSFORM - Melbourne House Data

In [3]:
full_len = len(df)
full_len

34857

In [4]:
# Splitting the date
df[['Day', 'Month', 'Year']] = df["Date"].str.split("/", expand=True,)
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Day,Month,Year
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0,3,09,2016
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0,3,12,2016
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0,4,02,2016
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0,4,02,2016
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0,4,03,2017

In [5]:
# List of columns
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount', 'Day', 'Month', 'Year'],
      dtype='object')

In [6]:
# Reducing to columns of interest
# 'Landsize'
df = df.loc[:,['Suburb', 'Rooms', 'Type', 'Price', 'Bathroom', 'Car', 'Month', 'Year']]
df.head()

       Suburb  Rooms Type      Price  Bathroom  Car Month  Year
0  Abbotsford      2    h        NaN       1.0  1.0    09  2016
1  Abbotsford      2    h  1480000.0       1.0  1.0    12  2016
2  Abbotsford      2    h  1035000.0       1.0  0.0    02  2016
3  Abbotsford      3    u        NaN       2.0  1.0    02  2016
4  Abbotsford      3    h  1465000.0       2.0  0.0    03  2017

In [7]:
# Changing column headers to lower case
df.columns = df.columns.str.lower()
df.head()

       suburb  rooms type      price  bathroom  car month  year
0  Abbotsford      2    h        NaN       1.0  1.0    09  2016
1  Abbotsford      2    h  1480000.0       1.0  1.0    12  2016
2  Abbotsford      2    h  1035000.0       1.0  0.0    02  2016
3  Abbotsford      3    u        NaN       2.0  1.0    02  2016
4  Abbotsford      3    h  1465000.0       2.0  0.0    03  2017

In [8]:
# Investigating columns with null values
df.isnull().sum()

suburb         0
rooms          0
type           0
price       7610
bathroom    8226
car         8728
month          0
year           0
dtype: int64

In [9]:
# Dropping these null values
house_df = df.dropna() 
house_df.head()

       suburb  rooms type      price  bathroom  car month  year
1  Abbotsford      2    h  1480000.0       1.0  1.0    12  2016
2  Abbotsford      2    h  1035000.0       1.0  0.0    02  2016
4  Abbotsford      3    h  1465000.0       2.0  0.0    03  2017
5  Abbotsford      3    h   850000.0       2.0  1.0    03  2017
6  Abbotsford      4    h  1600000.0       1.0  2.0    06  2016

In [10]:
# Checking the length and that removal of na has worked
final_len = len(house_df)
print(final_len)
print(house_df.isnull().sum())

20423
suburb      0
rooms       0
type        0
price       0
bathroom    0
car         0
month       0
year        0
dtype: int64

In [11]:
difference = full_len - final_len
percent = (difference/full_len)*100
(f"The dataframe has been reduced from {full_len} rows to {final_len} rows, by {round(percent,2)} percent")

'The dataframe has been reduced from 34857 rows to 20423 rows, by 41.41 percent'

In [12]:
# Investigating different types of houses
house_df['type'].unique()

array(['h', 'u', 't'], dtype=object)

# Extract - VIC Crime Data

In [35]:
crime_vic_df = pd.read_csv("Resources/Data_Tables_LGA_Criminal_Incidents_Year_Ending_September_2020/Table 03-Table 1.csv")
crime_vic_df.head()

,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded
0,2020,September,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B41 Motor vehicle theft,1
1,2020,September,Alpine,3691,Glen Creek,C Drug offences,C30 Drug use and possession,C32 Drug possession,1
2,2020,September,Alpine,3691,Glen Creek,F Other offences,F90 Miscellaneous offences,F93 Cruelty to animals,1
3,2020,September,Alpine,3691,Gundowring,B Property and deception offences,B40 Theft,B49 Other theft,1
4,2020,September,Alpine,3691,Gundowring,E Justice procedures offences,E10 Justice procedures,E13 Resist or hinder officer,1

# EDA AND TRANSFORM - VIC Crime Data

In [36]:
# Investigating columns
crime_vic_df.columns

Index(['Year', 'Year ending', 'Local Government Area', 'Postcode',
       'Suburb/Town Name', 'Offence Division', 'Offence Subdivision',
       'Offence Subgroup', 'Incidents Recorded'],
      dtype='object')

In [37]:
crime_vic_df["Year"].unique()

array([2020, 2019])

In [38]:
# Selecting columns of interest
crime_vic_df = crime_vic_df.loc[:,['Suburb/Town Name', 'Year', 'Incidents Recorded']]
crime_vic_df.head()

  Suburb/Town Name  Year Incidents Recorded
0         Dederang  2020                  1
1       Glen Creek  2020                  1
2       Glen Creek  2020                  1
3       Gundowring  2020                  1
4       Gundowring  2020                  1

In [39]:
# Renaming columns
crime_vic_df.columns = 'suburb', 'year', 'incidents_recorded'
crime_vic_df.head()

       suburb  year incidents_recorded
0    Dederang  2020                  1
1  Glen Creek  2020                  1
2  Glen Creek  2020                  1
3  Gundowring  2020                  1
4  Gundowring  2020                  1

In [40]:
# Seperating 2020 incidents from 2019 
crime_2020_df = crime_vic_df.loc[(crime_vic_df["year"] == 2020), :]
crime_2020_df.head()

       suburb  year incidents_recorded
0    Dederang  2020                  1
1  Glen Creek  2020                  1
2  Glen Creek  2020                  1
3  Gundowring  2020                  1
4  Gundowring  2020                  1

In [41]:
# Dropping year column
crime_2020_df = crime_2020_df[["suburb", "incidents_recorded"]]
crime_2020_df.head()

       suburb incidents_recorded
0    Dederang                  1
1  Glen Creek                  1
2  Glen Creek                  1
3  Gundowring                  1
4  Gundowring                  1

In [42]:
crime_2020_df.dtypes

suburb                object
incidents_recorded    object
dtype: object

In [43]:
# Removing , from numbers 
crime_2020_df['incidents_recorded'] = crime_2020_df['incidents_recorded'].str.replace(',', '')
# Converting from object to string to int
crime_2020_df['incidents_recorded'] = crime_2020_df['incidents_recorded'].astype(str).astype(int)

In [45]:
crime_2020_df.dtypes

suburb                object
incidents_recorded     int64
dtype: object

In [46]:
# Summing all incidents as they are diff types for the groupby
total_2020 = crime_2020_df.groupby("suburb")["incidents_recorded"].sum()
total_2020_df = pd.DataFrame({
    "total_2020_incidents" : total_2020
})
total_2020_df.head()

              total_2020_incidents
suburb
Abbotsford                    1286
Aberfeldie                     120
Acheron                          6
Ada                              2
Adams Estate                    13

# Transform - merging house and crime data

In [54]:
# Merging two dataframes on suburb
combined_df = pd.merge(house_df, total_2020_df, how = 'inner', on='suburb')
combined_df

,suburb,rooms,type,price,bathroom,car,month,year,total_2020_incidents
0,Abbotsford,2,h,1480000.0,1.0,1.0,12,2016,1286
1,Abbotsford,2,h,1035000.0,1.0,0.0,02,2016,1286
2,Abbotsford,3,h,1465000.0,2.0,0.0,03,2017,1286
3,Abbotsford,3,h,850000.0,2.0,1.0,03,2017,1286
4,Abbotsford,4,h,1600000.0,1.0,2.0,06,2016,1286
...,...,...,...,...,...,...,...,...,...
20418,Clyde North,3,h,575000.0,2.0,2.0,02,2018,911
20419,Wandin North,4,h,1150000.0,2.0,2.0,03,2018,66
20420,Lysterfield,3,h,730000.0,1.0,2.0,03,2018,257
20421,Kalkallo,3,h,615000.0,1.0,1.0,03,2018,327
20422,Werribee South,4,h,640000.0,3.0,2.0,02,2018,166

In [55]:
# Double checking for null values
combined_df.isnull().sum()

suburb                  0
rooms                   0
type                    0
price                   0
bathroom                0
car                     0
month                   0
year                    0
total_2020_incidents    0
dtype: int64

In [56]:
combined_len = len(combined_df)
print(f"Combined df length: {combined_len}")
print(f"We have lost {final_len - combined_len} rows of housing data when merging the 2 dataframes")

Combined df length: 20423
We have lost 0 rows of housing data when merging the 2 dataframes

In [57]:
# Number of suburbs in housing dataframe
house_subs = house_df['suburb'].nunique()
# Number of suburbs in combined dataframe
combined_subs = combined_df['suburb'].nunique()
print(f"Number of suburbs in combined df: {combined_subs}")
print(f'We have lost a total of {house_subs - combined_subs} suburbs from merging housing data with crime data.')

Number of suburbs in combined df: 338
We have lost a total of 0 suburbs from merging housing data with crime data.

# LOAD / EXPORT TO CSV

In [58]:
# Export final df to csv to create machine learning model
combined_df.to_csv("Resources/house_crime.csv")